%h1 Listing jobs

%table
  %thead
    %tr
      %th Url
      %th Notes
      %th User
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td
          %a{href: external_link(job.url)}= job.url
        %td= job.notes
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
